<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1 align = center> Hello you have successfully logged in</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a> 
    <ul>
        <div class="form-inline">
            <form
                enctype="multipart/form-data"
            >
                <input type = "file" name="file[]" multiple="true" autocomplete="off" required>
                <input type="submit" value="Upload file(s)" formaction="http://localhost:5000/upload" formmethod="post">
                <input type="submit" value="New folder" formaction="/md"/>
                <input name="folder" type="text" value="new_folder"/>
             </form>
        
            <a href="/download"><button class='btn btn-default'>Download file(s)</button></a>
        </div>
    
    
    </ul>
</body>
</html>